body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header{
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1{
    margin: 0;
    font-size: 2.5em;
}

header p{
    margin: 10px 0 0;
    font-size: 1.1em;
}

main{
   max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section{
    margin-bottom: 30px;
}

h2{
    color: #2c3e50;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
}

.education, .skills{
    margin-bottom: 20px;
}

.skills h3 {
    margin: 0;
    color: #3498db;

}
ul{
    list-style-type: disc;
    margin-left: 20px;
    border-bottom: 2px solid #3498db;

    
}

footer{
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

